<div class="container text-center">
  <h2>
    Bienvenido a OKWorkman
  </h2>
  <h4>
    Este proyecto quiere reconocer el estado mental y emocional de sus empleados.
    Contamos con tres roles: empleado, psicólogo y gerente.
    El empleado cuenta con una interfaz en la que podrá ingresar información a la cual se le hará un análisis y se le
    entregará al psicologo, un resultado que permita conocer y estar en constante retroalimentacion de su estado mental
    y emocional del empleado.
    El gerente podrá visualizar el estado de sus empleados y de la empresa para poder tomar decisiones acertadas.
  </h4>
  <h4>
      Empleado contento = más ingresos para la empresa
  </h4>
  <button mat-button class="btn btn-primary" routerLink="/inicio">Iniciar</button>
</div>
