<div class="container text-center">
  <h2  class="texto">
    Bienvenidos
  </h2>
  <div class="circuloGrande">
    <div class="circuloPequeno">
      <p class="texto">
        Este proyecto quiere reconocer el estado mental y emocional de sus empleados.
        Contamos con tres roles: empleado, psicólogo y gerente.
        El empleado cuenta con una interfaz en la que podrá ingresar información a la cual se le hará un análisis y se le
        entregará al psicologo, un resultado que permita conocer y estar en constante retroalimentacion de su estado mental
        y emocional del empleado.
        El gerente podrá visualizar el estado de sus empleados y de la empresa para poder tomar decisiones acertadas.
      </p>
      <h4 class="texto">
        Empleado contento = más ingresos para la empresa
    </h4>
    </div>
  </div>
  <button mat-button class="btn btn-dark botonInicio" routerLink="/inicio">Iniciar</button>
</div>
