@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.contenedor-grafico {
  @include media-breakpoint-up(sm) {
    height: 20vh !important;
  }

  @include media-breakpoint-down(sm) {
    height: 20vh !important;
  }
}

canvas {
  height: 100% !important;
  width: 100% !important;
}