<div class="content" role="main">
  <a class="card">
    <img src="https://c.pxhere.com/images/19/7c/46618cb85d2260545156f0ffa683-1456591.jpg!s" class="card-img-top"
      alt="Gerente">
    <div class="card-body">
      <p class="card-text">Gerente</p>
    </div>
  </a>
  <a class="card">
    <img
      src="https://images.pexels.com/photos/4098256/pexels-photo-4098256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      class="card-img-top" alt="Psicólogo">
    <div class="card-body">
      <p class="card-text">Psicólogo</p>
    </div>
  </a>
  <a class="card" routerLink="/empleado">
    <img src="https://cdn.pixabay.com/photo/2017/09/18/16/11/building-2762241_960_720.jpg" class="card-img-top"
      alt="...">
    <div class="card-body">
      <p class="card-text">Empleado</p>
    </div>
  </a>
</div>