<mat-horizontal-stepper [linear]="esLineal" labelPosition="bottom" #stepper>
  <!-- Primer step -->
  <mat-step [stepControl]="primerFormulario">
    <form [formGroup]="primerFormulario">
      <ng-template matStepLabel>Emociones</ng-template>
      <div class="imagenes-emociones">
        <img [src]="imagenEmociones" class="d-block w-100" alt="arbol">
      </div>
      <div class="form-group">
        <label for="primerControl">Elija un número de acuerdo a como se identifique en el grafico con su
          posición actual en la empresa</label>
        <select class="form-control" id="primerControl" formControlName="primerControl">
          <option value="{{item}}" *ngFor="let item of numerosArbol">{{item}}</option>
        </select>
      </div>
      <div class="text-center">
        <button mat-button matStepperNext class="btn btn-primary">Siguiente</button>
      </div>
    </form>
  </mat-step>
  <!-- Segundo step -->
  <mat-step [stepControl]="segundoFormulario">
    <form [formGroup]="segundoFormulario">
      <ng-template matStepLabel>Mente</ng-template>
      <div class="imagenes-emociones row">
        <img [src]="imagenMente" class="d-block" alt="imagenMente">
        <div class="mb-4 text-center w-100">
          <label for="pregunta1">¿Que observaste primero?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta1" id="pregunta1a" value="a" checked
              formControlName="pregunta1">
            <label class="form-check-label" for="pregunta1a">
              El rostro
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta1" id="pregunta1b" value="b"
              formControlName="pregunta1">
            <label class="form-check-label" for="pregunta1b">
              Las manzanas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta1" id="pregunta1c" value="c"
              formControlName="pregunta1">
            <label class="form-check-label" for="pregunta1c">
              La persona sentada
            </label>
          </div>
        </div>
      </div>
      <div class="imagenes-emociones row">
        <img [src]="imagenMente1" class="d-block" alt="imagenMente1">
        <div class="mb-4 text-center w-100">
          <label for="exampleInputPassword1">¿Que observaste primero?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta2" id="pregunta2a" value="a" checked
              formControlName="pregunta2">
            <label class="form-check-label" for="pregunta2a">
              Una ballena
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta2" id="pregunta2b" value="b"
              formControlName="pregunta2">
            <label class="form-check-label" for="pregunta2b">
              Una persona practicando surf
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta2" id="pregunta2c" value="c"
              formControlName="pregunta2">
            <label class="form-check-label" for="pregunta2c">
              La luna y la luz sobre el agua
            </label>
          </div>
        </div>
      </div>
      <div class="imagenes-emociones row">
        <img [src]="imagenMente2" class="d-block" alt="imagenMente2">
        <div class="mb-4 text-center w-100">
          <label for="exampleInputPassword1">¿Que observaste primero?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta3" id="pregunta3a" value="a" checked
              formControlName="pregunta3">
            <label class="form-check-label" for="pregunta3a">
              Labios
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta3" id="pregunta3b" value="b"
              formControlName="pregunta3">
            <label class="form-check-label" for="pregunta3b">
              Arboles
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta3" id="pregunta3c" value="c"
              formControlName="pregunta3">
            <label class="form-check-label" for="pregunta3c">
              Raíces
            </label>
          </div>
        </div>
      </div>
      <div class="imagenes-emociones row">
        <img [src]="imagenMente3" class="d-block" alt="imagenMente3">
        <div class="mb-4 text-center w-100">
          <label for="exampleInputPassword1">¿Que observaste primero?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta4" id="pregunta4a" value="a" checked
              formControlName="pregunta4">
            <label class="form-check-label" for="pregunta4a">
              Precipicio
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta4" id="pregunta4b" value="b"
              formControlName="pregunta4">
            <label class="form-check-label" for="pregunta4b">
              Gato
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta4" id="pregunta4c" value="c"
              formControlName="pregunta4">
            <label class="form-check-label" for="pregunta4c">
              Rostro
            </label>
          </div>
        </div>
      </div>
      <div class="imagenes-emociones row">
        <img [src]="imagenMente4" class="d-block" alt="imagenMente4">
        <div class="mb-4 text-center w-100">
          <label for="exampleInputPassword1">¿A qué se te asemeja la imagen?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta5" id="pregunta5a" value="a" checked
              formControlName="pregunta5">
            <label class="form-check-label" for="pregunta5a">
              Personas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta5" id="pregunta5b" value="b"
              formControlName="pregunta5">
            <label class="form-check-label" for="pregunta5b">
              Payasos
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta5" id="pregunta5c" value="c"
              formControlName="pregunta5">
            <label class="form-check-label" for="pregunta5c">
              Animales
            </label>
          </div>
        </div>
      </div>
      <div class="imagenes-emociones row">
        <img [src]="imagenMente5" class="d-block" alt="imagenMente5">
        <div class="mb-4 text-center w-100">
          <label for="exampleInputPassword1">¿Que observaste primero?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta6" id="pregunta6a" value="a" checked
              formControlName="pregunta6">
            <label class="form-check-label" for="pregunta6a">
              Barco
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta6" id="pregunta6b" value="b"
              formControlName="pregunta6">
            <label class="form-check-label" for="pregunta6b">
              Cocodrilo
            </label>
          </div>
        </div>
      </div>
      <div class="imagenes-emociones row">
        <img [src]="imagenMente6" class="d-block" alt="imagenMente6">
        <div class="mb-4 text-center w-100">
          <label for="exampleInputPassword1">¿A qué se te asemeja la imagen?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta7" id="pregunta7a" value="a" checked
              formControlName="pregunta7">
            <label class="form-check-label" for="pregunta7a">
              Perfiles femeninos
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta7" id="pregunta7b" value="b"
              formControlName="pregunta7">
            <label class="form-check-label" for="pregunta7b">
              Perfiles masculinos
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta7" id="pregunta7c" value="c"
              formControlName="pregunta7">
            <label class="form-check-label" for="pregunta7c">
              Animales
            </label>
          </div>
        </div>
      </div>
      <div class="imagenes-emociones row">
        <img [src]="imagenMente7" class="d-block" alt="imagenMente7">
        <div class="mb-4 text-center w-100">
          <label for="exampleInputPassword1">¿Que observaste primero?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta8" id="pregunta8a" value="a" checked
              formControlName="pregunta8">
            <label class="form-check-label" for="pregunta8a">
              Chica
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta8" id="pregunta8b" value="b"
              formControlName="pregunta8">
            <label class="form-check-label" for="pregunta8b">
              Chico
            </label>
          </div>
        </div>
      </div>
      <div class="imagenes-emociones row">
        <img [src]="imagenMente8" class="d-block" alt="imagenMente8">
        <div class="mb-4 text-center w-100">
          <label for="exampleInputPassword1">¿A qué se te asemeja la imagen?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta9" id="pregunta9a" value="a" checked
              formControlName="pregunta9">
            <label class="form-check-label" for="pregunta9a">
              Animales caminando
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta9" id="pregunta9b" value="b"
              formControlName="pregunta9">
            <label class="form-check-label" for="pregunta9b">
              Animales luchando
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pregunta9" id="pregunta9c" value="c"
              formControlName="pregunta9">
            <label class="form-check-label" for="pregunta9c">
              Nada
            </label>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button mat-button matStepperPrevious class="btn btn-primary">Anterior</button>&nbsp;
        <button mat-button matStepperNext class="btn btn-primary">Siguiente</button>
      </div>
    </form>
  </mat-step>
  <!-- Tercer step -->
  <mat-step>
    <ng-template matStepLabel>Estados de ánimo</ng-template>
    <label for="validatedCustomFile">Cargue un archivo de audio en formato WAV, en el que relates como te sentiste el
      día de hoy en el trabajo</label>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="validatedCustomFile" required
       >
      <label class="custom-file-label" for="validatedCustomFile">Elija un archivo...</label>
    </div>
    <label for="validatedCustomFile">Ó puedes grabarlo aquí mismo presionando el botón grabar</label>
    <div>
      <button mat-mini-fab color="warn" *ngIf="!estaGrabando && !blobUrl" (click)="iniciarGrabacion()"
       >
        <mat-icon>microphone</mat-icon>
      </button>
      <div *ngIf="estaGrabando && !blobUrl"> {{tiempoGrabacion}} </div>
      <audio *ngIf="!estaGrabando && blobUrl" controls>
        <source [src]="blobUrl" type="audio/mpeg">
      </audio>
    </div>
    <div class="text-center">
      <button mat-button matStepperPrevious class="btn btn-primary">Anterior</button>&nbsp;
      <button mat-button (click)="enviarFormulario()" class="btn btn-primary">Enviar Formulario</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
